# Dependencies
node_modules/

# Build outputs
dist/
**/dist/

# Env / secrets
.env
.env.*
!.env.example

# Logs & debug
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Vercel local
.vercel

# Jupyter
.ipynb_checkpoints/
